In [24]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv('/content/Book1.csv')
df.head()

  fruits  Rate      Place
0  Apple   300      dehli
1  Apple   400     mumbai
2  Apple   500   banglore
3  Apple   600        goa
4  Apple   700  ghaziabad

In [28]:
 dum = pd.get_dummies(df)
 dum.head()

   Rate  fruits_Apple  fruits_Grapes  ...  Place_ghaziabad  Place_goa  Place_mumbai
0   300             1              0  ...                0          0             0
1   400             1              0  ...                0          0             1
2   500             1              0  ...                0          0             0
3   600             1              0  ...                0          1             0
4   700             1              0  ...                1          0             0

[5 rows x 10 columns]

In [29]:
pd.get_dummies(df, drop_first=True)

    Rate  fruits_Grapes  fruits_Mango  ...  Place_ghaziabad  Place_goa  Place_mumbai
0    300              0             0  ...                0          0             0
1    400              0             0  ...                0          0             1
2    500              0             0  ...                0          0             0
3    600              0             0  ...                0          1             0
4    700              0             0  ...                1          0             0
5    300              0             1  ...                0          0             0
6    400              0             1  ...                0          0             1
7    500              0             1  ...                0          0             0
8    600              0             1  ...                0          1             0
9    700              0             1  ...                1          0             0
10   230              1             0  ...                0          0             0
11   278              1             0  ...                0          0             1
12   299              1             0  ...                0          0             0
13   300              1             0  ...                0          0             0

[14 rows x 8 columns]

In [30]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
ohe1 = ohe.fit_transform(df[["fruits","Place"]])
ohe1

array([[1., 0., 0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0.]])

In [32]:
df1 = pd.DataFrame(ohe1 , columns=['fruits_Apple' ,'fruits_Grapes','fruits_Mango','Place_banglore','Place_dehli','Place_g0a','Place_ghaziabad','Place_goa','Place_mumbai'])
df1.head()

   fruits_Apple  fruits_Grapes  ...  Place_goa  Place_mumbai
0           1.0            0.0  ...        0.0           0.0
1           1.0            0.0  ...        0.0           1.0
2           1.0            0.0  ...        0.0           0.0
3           1.0            0.0  ...        1.0           0.0
4           1.0            0.0  ...        0.0           0.0

[5 rows x 9 columns]